$CPThemeSystemFontFamily: "Source Sans Pro" sans-serif;
$CPThemeSystemFontSize: 13.0px;

$CPThemeControlDefaultBackgroundColor: #ecf0f1;
$CPThemeControlDefaultFontColor: #555555;
$CPThemeControlDefaultHoverBackground: darken($CPThemeControlDefaultBackgroundColor, 10%);
$CPThemeControlDefaultActiveBackground: darken($CPThemeControlDefaultBackgroundColor, 20%);
$CPThemeControlDefaultBorderColor: #bdc3c7;
$CPThemeControlDefaultBorderWidth: 1px;
$CPThemeControlDefaultBorderRadius: 0px;
$CPThemeControlRoundedBorderRadius: 8px;

$CPThemeControlDisableDefaultFontColor: #B8B8B8;
$CPThemeControlDisableDefaultBackgroundColor: #f5f5f5;

// for first responders / default action controls
$CPThemeControlHighlightedBackgroundColor: #3498db;
$CPThemeControlHighlightedBorderColor: #2980b9;
$CPThemeControlHighlightedHoverBackground: darken($CPThemeControlHighlightedBackgroundColor, 10%);
$CPThemeControlHighlightedActiveBackground: darken($CPThemeControlHighlightedBackgroundColor, 20%);
$CPThemeControlHighlightedFontColor: #ffffff;

$CPThemeControlDefaultButtonHeight: 25px;
$CPThemeControlSmallButtonHeight: 20px;
$CPThemeControlMiniButtonHeight: 18px;

$CPThemeControlTextFieldHeight: 25px;

$CPThemeToolbarDefaultFontSize: 10px;

$CPThemeDefaultShadowColor: #AAAAAA;
$CPThemeMenuFontWeight: 600;
$CPThemeMenuShadowYOffset: 1px;
$CPThemeMenuShadowXOffset: 3px;
$CPThemeMenuShadowBlur: 10px;

$CPThemeWindowCloseControlColor: #e74c3c;
$CPThemeWindowMinimizeControlColor: #f1c40f;
$CPThemeWindowMaximizeControlColor: #27ae60;

body {
  font: $CPThemeSystemFontSize $CPThemeSystemFontFamily;
}

.spacer {
  height: 50px;
}

/* Buttons */
.btn {
  font-family: $CPThemeSystemFontFamily;
  font-size: $CPThemeSystemFontSize;
  background: $CPThemeControlDefaultBackgroundColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  height: $CPThemeControlDefaultButtonHeight;
  border-radius: $CPThemeControlDefaultBorderRadius;
  &:hover {
    background: $CPThemeControlDefaultHoverBackground;
  }
  &:active {
    background: $CPThemeControlDefaultActiveBackground;
  }
}

.btn-rounded {
  border-radius: $CPThemeControlRoundedBorderRadius;
}

.btn-small {
  height: $CPThemeControlSmallButtonHeight;
  font-size: $CPThemeSystemFontSize - 2px;
}

.btn-mini {
  height: $CPThemeControlMiniButtonHeight;
  font-size: $CPThemeSystemFontSize - 3px;
}

.btn-default {
  color: $CPThemeControlHighlightedFontColor;
  background: $CPThemeControlHighlightedBackgroundColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;
  &:hover {
    background: $CPThemeControlHighlightedHoverBackground;
  }
  &:active {
    background: $CPThemeControlHighlightedActiveBackground;
  }
}

.btn-disabled {
  color: $CPThemeControlDisableDefaultFontColor;
  background: $CPThemeControlDisableDefaultBackgroundColor;
  &:hover {
    background: $CPThemeControlDisableDefaultBackgroundColor;
  }
  &:active {
    background: $CPThemeControlDisableDefaultBackgroundColor;
  }
}

.btn-default-disabled {
  color: lighten($CPThemeControlHighlightedFontColor, 20%);
  background: lighten($CPThemeControlHighlightedBackgroundColor, 20%);
  border: $CPThemeControlDefaultBorderWidth solid lighten($CPThemeControlHighlightedBorderColor, 20%);
  &:hover {
    background: lighten($CPThemeControlHighlightedBackgroundColor, 20%);
  }
  &:active {
    background: lighten($CPThemeControlHighlightedBackgroundColor, 20%);
  }
}

/* Segmented Controls */
.seg {
  height: $CPThemeControlDefaultButtonHeight;
  font-family: $CPThemeSystemFontFamily;
  font-size: $CPThemeSystemFontSize;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  background: $CPThemeControlDefaultBackgroundColor;
}

.seg-left {
  border-top-left-radius: $CPThemeControlDefaultBorderRadius;
  border-bottom-left-radius: $CPThemeControlDefaultBorderRadius;
  margin-right: -5px;
}

.seg-middle {
  margin: 0 0;
}

.seg-right {
  border-top-right-radius: $CPThemeControlDefaultBorderRadius;
  border-bottom-right-radius: $CPThemeControlDefaultBorderRadius;
  margin-right: 15px;
}

.seg-active {
  background: $CPThemeControlHighlightedBackgroundColor;
  color: $CPThemeControlHighlightedFontColor;
  border: $CPThemeControlHighlightedBorderColor;
}


/* Sliders */
.slider-track {
  width: 200px;
  height: 6px;
  border-radius: $CPThemeControlDefaultBorderRadius;
  background: darken($CPThemeControlDefaultBackgroundColor, 20%);

  .slider-handle {
    width: 15px;
    height: 15px;
    border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
    background: $CPThemeControlDefaultBackgroundColor;
    border-radius: 50%;

    /* Demo purposes only */
    position: relative;
    top: -5px;
    left: 80px;
  }
}

.slider-circular {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  background: $CPThemeControlDefaultBackgroundColor;

  .slider-dimple {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: darken($CPThemeControlDefaultBackgroundColor, 20%);
    border: $CPThemeControlDefaultBorderWidth solid darken($CPThemeControlDefaultBorderColor, 10%);

    /* Demo positions */
    position: relative;
    top: 20px;
    left: 11px;
  }
}

/* Input fields */

/* Disable the default focus ring */
:focus {
  /* -webkit-focus-ring-color = '#5B9DD9' */
  outline: none;
}

.input {
  width: 200px;
  font-family: $CPThemeSystemFontFamily;
  font-size: $CPThemeSystemFontSize;
  height: $CPThemeControlTextFieldHeight;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  border-radius: $CPThemeControlDefaultBorderRadius;
  padding-left: 2px;
  padding-right: 2px;
}

.input-focus-ring {
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBackgroundColor;
}

.input-stepper, .input-dropdown {
  width: 160px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.stepper-up, .stepper-down {
  // we may need some chevron images here.
  width: 19px;
  height: 13px;
  font-size: 8px;
  text-align: center;
  background: $CPThemeControlHighlightedBackgroundColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;

  // Demo positioning
  position: relative;
  top: -29px;
  left: 165px;
}

.stepper-up {
  vertical-align: bottom;
  border-top-right-radius: $CPThemeControlDefaultBorderRadius;
  margin-bottom: 0;
}

.stepper-down {
  vertical-align: top;
  border-bottom-right-radius: $CPThemeControlDefaultBorderRadius;
  top: -30px;
}

.stepper-up-value {
    width: 19px;
    height: 12px;
    font-size: 8px;
    text-align: center;
    color: $CPThemeControlHighlightedFontColor;
    position: relative;
    top: -55px;
    left: 166px; }

.stepper-down-value {
    width: 19px;
    height: 12px;
    font-size: 8px;
    text-align: center;
    color: $CPThemeControlHighlightedFontColor;
    position: relative;
    top: -54px;
    left: 166px; }

.input-rounded {
  border-radius: $CPThemeControlRoundedBorderRadius;
  padding: 0 5px;
}

//.input-dropdown {
//  width: 160px;
//  border-top-right-radius: 0;
//  border-bottom-right-radius: 0;
//}

.dropdown-down {
  width: 19px;
  height: 27px;
  text-align: center;
  background: $CPThemeControlHighlightedBackgroundColor;
  color: $CPThemeControlHighlightedFontColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;
  border-top-right-radius: $CPThemeControlDefaultBorderRadius;
  border-bottom-right-radius: $CPThemeControlDefaultBorderRadius;

  /* Demo positioning */
  position: relative;
  top: -29px;
  left: 165px;
}

.dropdown-down-value {
    width: 19px;
    height: 27px;
    text-align: center;
    content: "\9660";
    color: $CPThemeControlHighlightedFontColor;
    /* Demo positioning */
    position: relative;
    top: -50px;
    left: 166px; }

/* Toolbar */
.toolbar {
  height: 56px;
  background: $CPThemeControlDefaultBackgroundColor;
  border-bottom: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;

  .toolbar-icon {
    float: left;
    height: 56px;
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;

    .img {
      margin-top: 8px;
      width: 56px;
      text-align: center;
      img {
        height: 32px;
      }
    }

    .label {
      width: 56px;
      text-align: center;
      font-size: $CPThemeToolbarDefaultFontSize;
    }
  }

  .toolbar-icon-disabled {
    opacity: 0.5;
  }

  .toolbar-icon-selected {
    background: linear-gradient(to bottom, $CPThemeControlDefaultBackgroundColor, darken($CPThemeControlDefaultBackgroundColor, 5%));
    border-left: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
    border-right: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  }
}

/* Menu bar */
.menubar {
  height: 30px;
  border-bottom: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  background: lighten($CPThemeControlDefaultBackgroundColor, 5%);

  .menubar-item {
    float: left;
    margin: 8px 10px 0 10px;

    .title {
      font-weight: 600;
      font-size: $CPThemeSystemFontSize;
    }
  }

  .menubar-item-active {
    float: left;
    padding: 8px 10px 6px 10px;
    background: $CPThemeControlHighlightedBackgroundColor;
    border-left: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;
    border-right: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;

    .title {
      font-weight: $CPThemeMenuFontWeight;
      font-size: $CPThemeSystemFontSize;
      color: $CPThemeControlHighlightedFontColor;
    }
  }
}

.menu {
  position: relative;
  background: lighten($CPThemeControlDefaultBackgroundColor, 5%);
  box-shadow: $CPThemeMenuShadowXOffset $CPThemeMenuShadowYOffset $CPThemeMenuShadowBlur $CPThemeDefaultShadowColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  border-bottom-right-radius: $CPThemeControlDefaultBorderRadius;
  border-bottom-left-radius: $CPThemeControlDefaultBorderRadius;

  left: 202px;
//  top: 30px;
  width: 140px;
  height: 66px;


  .menu-item {
    font-weight: $CPThemeMenuFontWeight;
    width: 140px;
    height: 22px;
    margin: 0;

    .menu-item-title {
      padding-left: 6px;
      margin-top: 6px;
      width: 100px;
    }
    .menu-item-shortcut {
      float: right;
      text-align: center;
      width: 30px;
    }
  }

  .menu-item-active {
    @extend .menu-item;
    background: $CPThemeControlHighlightedBackgroundColor;
    border-top: $CPThemeControlDefaultBorderWidth solid $CPThemeControlHighlightedBorderColor;

    .menu-item-title, .menu-item-shortcut {
      color: $CPThemeControlHighlightedFontColor;
    }
  }
}

/* Tables */
.table {
  width: 400px;
  margin:0;
  padding:0;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  border-collapse: collapse;
  thead {
    background: $CPThemeControlDefaultBackgroundColor;
    tr {
      height: 25px;
      th {
        font-weight: $CPThemeMenuFontWeight;
        font-size: $CPThemeSystemFontSize;
        border-right: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
        border-bottom: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
        margin: 0;
        padding: 0;
      }
    }
  }

  tbody {
    height: 100px;
    overflow-y: auto;
    tr {
      height: 25px;
      width: 400px;
      border-bottom: $CPThemeControlDefaultBorderWidth solid lighten($CPThemeControlDefaultBorderColor, 15%);
      td {
        font-size: $CPThemeSystemFontSize;
        padding-left: 4px;
        border: 0;
      }

      &:nth-child(even) {
        background: lighten($CPThemeControlHighlightedBackgroundColor, 44%);
      }
    }
  }
}

/* Radio */

/* What about the first theme of this example : http://fronteed.com/iCheck/ ? */
.radio
{

}

.checkbox
{

}

.radio-checked{

}

.radio-unchecked{

}

.checkbox-checked{

}

.checkbox-unchecked{

}

/* Windows */
.window {
  width: 400px;
  height: 300px;
  box-shadow: $CPThemeMenuShadowXOffset $CPThemeMenuShadowYOffset $CPThemeMenuShadowBlur $CPThemeDefaultShadowColor;
  border: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;
  border-radius: $CPThemeControlDefaultBorderRadius;
  clear: right;

  .window-titlebar {
    height: 30px;
    background: $CPThemeControlDefaultBackgroundColor;
    border-bottom: $CPThemeControlDefaultBorderWidth solid $CPThemeControlDefaultBorderColor;


    .window-title {
      font-weight: $CPThemeMenuFontWeight;

      display: block;
      padding-top: 6px;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      text-align: center;
    }

    .window-controls {
      .control {
        float: left;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: relative;
        left: 10px;

        img {
          position: relative;
          top: -4px;
          left: 1px;
          width: 7px;
          opacity: 0.0;

          &:hover {
            opacity: 0.5;
          }
        }
      }
      .close {
        @extend .control;
        background: $CPThemeWindowCloseControlColor;
        border: $CPThemeControlDefaultBorderWidth solid darken($CPThemeWindowCloseControlColor, 10%);
        text-align: center;
        top: 10px;
      }

      .minimize {
        @extend .control;
        background: $CPThemeWindowMinimizeControlColor;
        border: $CPThemeControlDefaultBorderWidth solid darken($CPThemeWindowMinimizeControlColor, 10%);
        left: 14px;
        top: 10px;
      }

      .maximize {
        @extend .control;
        background: $CPThemeWindowMaximizeControlColor;
        border: $CPThemeControlDefaultBorderWidth solid darken($CPThemeWindowMaximizeControlColor, 10%);
        left: 18px;
        top: 10px;
      }
    }
  }

  .window-titlebar-toolbar {
    @extend .window-titlebar;
    border-bottom: 0;
  }
}